body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  overflow: hidden; 
}
p {
  color: #333;
  margin-bottom: 10px;
  position: relative;
  top: -30px;
}

h1 {
  color: #333;
  margin-bottom: 10px;
  position: relative;
  top: -30px;
}

form {
  background-color: #c4c4c4;
  padding: 30px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 350px;
  text-align: center;
  position: relative;
  top: -30px;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  border: 2px solid #cac8c8;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #b86608;
  color: black;
  border: 2px dotted #5c3400;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: teal;
}

.error-message {
  color: red;
  margin-top: 10px;
}

a {
  color: #333;
  margin-bottom: 10px;
  position: relative;
  top: -20px;
}

a button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

a button:hover {
  background-color: orange;
}
