.hotbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 1000;
}

.hotbar .right {
  margin-right: 40px;
}

.hotbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.hotbar a:hover {
  color: #4CAF50;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding-top: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  color: #333;
  margin-bottom: 10px;
  position: relative;
  top: -40px;
}

form {
  background-color: #c4c4c4ff;
  padding: 30px 40px;
  border-radius: 8px;
  gap: 20px;
  width: 350px;
  text-align: center;
  position: relative;
  top: -50px; 
}

input[type="email"],
input[name="user"],
input[type="password"],
input[name="haslo"] {
  padding: 15px;
  border: 2px solid #cac8c8ff;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: black;
  border: dotted;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #29ac2dff;
}
